@charset "UTF-8";


@media (max-width:991px) {      
}
 
@media (max-width:480px) {
}
 
 @media (max-width:380px) { 
}
 
 @media (max-width:330px) { 
}

/* GLOBAL
----------------------*/

body {
    font-family: 'Avenir Next', sans-serif;
    position: relative; 
    overflow-x:hidden;
}

a {
    color: #000000;
}

a:hover,
a:focus {
    color: rgb(240, 124, 148);
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 200;
    color: #000000;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: #000000;
    font-size: 33px;
    font-weight: 400;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

h5 {
    font-size: 28px;
    font-weight: 200;
    color: #000000;
    margin-bottom: 0.7rem;
}

p {
    color: #959094;
}

p.center { 
    text-align: center;
}

p.lead {
    color: #000000;
    margin-bottom: 0rem;
}

.text-primary {
    color: #e38cb7 !important;
}

.light-font {
    font-weight: 300;
}

.blog-body { 
    font-size: 20px;
    color: black;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.ctaHero:focus,
.ctaHero:active,
.ctaHero { 
    color: #fff;
    background-color: #FC588F;
    border-color: #FC588F;
}

.ctaHero:hover { 
    color: rgb(240, 124, 148);
    background-color: #fff;
    border-color: #fff;
}

.btn-primary {
    border-radius: 3px;
    background-color: rgb(240, 124, 148);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: rgb(240, 124, 148);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: grab;
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 600;
    color: rgb(240, 124, 148);
;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
    background-color: rgb(250, 250, 250);
}

.white-bg {
    background-color: rgb(255, 255, 255);
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title-no-m { 
    text-align: center;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}


/* NAVBAR
----------------------*/

.form-popup {
    display: none;
    position: fixed;
    top: 10vh;
    left: 30vw;
    right: 30vw;
    border: 3px solid rgb(240, 124, 148);
    z-index: 9;
    background-color: #ffff;
    max-width: 40vw;
  }

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-logo { 
    align-content:  left;
    max-width: 200px;
    max-height: 100px;
}

@media (max-width:330px) {
    .nav-logo { 
        max-width: 165px;
        max-height: 100px;
    }  
}

.nav-menu.menu-is-open {
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-menu.is-scrolling {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-dark .navbar-nav .nav-link { 
    color: #ffff;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 17px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #ffff;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}


/* HERO
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
}

.hero-container { 
    position: relative;
    overflow: hidden;
    max-height: 70vh;
}

.hero-container-full { 
    position: relative;
    overflow: hidden;
    display: block;
    align-items: center;
    max-height: 90vh;
}

.responsive-home-image { 
    height: 300px;
}

@media (max-width:780px) {
    .hero-container-full { 
        max-height: 90vh !important;
    }  
    .responsive-home-image { 
        height: 200px;
    }  
}

@media (max-width:480px) {
    .hero-container-full { 
        max-height: 80vh !important;
    }  
    .responsive-home-image { 
        height: 130px;
    }    
}

@media (max-width:380px) {
    .hero-container-full { 
        max-height: 90vh !important;
    }    
    .hero-container { 
        max-height: 90vh;
    }
    .responsive-home-image { 
        height: 110px;
    }  
}

@media (max-width:330px) {
    .hero-container-full { 
        max-height: 90vh !important;
    }    
    .hero-container { 
        max-height: 90vh;
    }
    .responsive-home-image { 
        height: 90px;
    }  
}

.hero-container-med { 
    position: relative;
    overflow: hidden;
    max-height: 50vh;
}

.hero-container-sm { 
    position: relative;
    overflow: hidden;
    max-height: 30vh;
}

.circle-logo { 
    align-content: center;
    max-width: 115px;
    max-height: 115px;
    margin-bottom: 1rem;
}

video#myVideo {
    position: relative;
    top: 300px;
    left: 50%;
    right: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: 1.0;
    filter: brightness(0.6);
}

img#myImage {
    position: relative;
    top: 300px;
    left: 50%;
    right: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: 1.0;
    filter: brightness(0.6);
}

.appScreenshot { 
    max-height: 600px;
    text-align: right;
    padding-left: 10rem;
}

@media (max-width:780px) {
    .appScreenshot { 
        padding-left: 0rem;
    }
}

.space-title { 
    font-size: 40px;
}
.space-subtitle{ 
    font-size: 25px;
}

.space-button { 
    font-size: 13px; 
    float: left; 
}

@media (max-width:991px) {     
    .space-title { 
        font-size: 40px;
        text-align: center;
    } 
    .space-subtitle { 
        font-size: 25px;
        text-align: center;
    }
    .space-button { 
        float: none !important; 
        display: block;
        margin: 0 auto;
    }
}
 
@media (max-width:480px) {
    .space-title { 
        font-size: 22px;
        text-align: center;
    } 
    .space-subtitle { 
        font-size: 20px;
        text-align: center;
    }
    .space-button { 
        float: none !important; 
        display: block;
        margin: 0 auto;
    }
}
 
 @media (max-width:380px) { 
    .space-title { 
        font-size: 22px;
        text-align: center;
    } 
    .space-subtitle { 
        font-size: 18px;
        text-align: center;
    }
    .space-button { 
        float: none !important; 
        display: block;
        margin: 0 auto;
    }
}
 
 @media (max-width:330px) { 
    .space-title { 
        font-size: 22px;
        text-align: center;
    } 
    .space-subtitle { 
        font-size: 18px;
        text-align: center;
    }
    .space-button { 
        float: none !important; 
        display: block;
        margin: 0 auto;
    }
}
.space-image {
    width: 100%;
    max-height: 200px;
    cursor: pointer;
}

.team-photo { 
    width: 100%;
    height: 100%;
}

.team-photos-section { 
    margin: auto;
}

@media (max-width:991px) {     
    .team-photo { 
        height: 100%;
    } 
    .team-photos-section { 
        padding-left: 50px; 
        padding-right: 50px; 
    }
}
 
@media (max-width:480px) {
    .team-photo { 
        height: 250;
    }
}
 
 @media (max-width:380px) { 
     .team-photo { 
         height: 200;
     }
}
 
 @media (max-width:330px) { 
    .team-photo { 
        height: 200px;
    }
}

.overlay-text-home { 
    background: rgba(0,0,0,0);
    position: absolute;
    top: 25%; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width:991px) {
    .overlay-text-home { 
        top: 15%; right: 0; bottom: 0; left: 0 !important;
    }    
}

.overlay-text { 
    background: rgba(0,0,0,0);
    position: absolute;
    top: 40%; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem; 
}

.headline {
    background: rgba(0,0,0,0);
    color: #fff;
    font-weight: 20px;
    font-size: 45px;
  }

  
.headline2 {
    background: rgba(0,0,0,0);
    color: #fff;
    font-weight: 20px;
    font-size: 33px;
  }

  @media (max-width:991px) {
   .headline { 
        font-weight: 13px;
        font-size: 40px;
   }  
   .headline2 { 
        margin-top: 1rem;
        font-weight: 13px;
        font-size: 25px;   
    }       
  }

  @media (max-width:480px) {
    .headline2 { 
        margin-top: 1rem;
        font-weight: 13px;
        font-size: 25px;   
    }   
}

@media (max-width:380px) {
    .headline2 { 
        margin-top: 1rem;
        font-weight: 13px;
        font-size: 20px;   
    }    
}

@media (max-width:330px) {
    .headline {
        font-size: 30px !important;
      }

    .headline2 { 
        margin-top: 1rem;
        font-weight: 13px;
        font-size: 18px;   
    }  
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #FFF;
    /* text-decoration: underline; */
    /* text-align: center; */
    text-emphasis: bold;
}

.tagline2 {
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    text-align: left;
    text-emphasis: bold;
}

@media (max-width:480px) {
   .tagline {
        font-size: 20px;
        font-weight: 500 !important;
    }
}

@media (max-width:350px) {
    .tagline {
        font-size: 16px;
        font-weight: 500 !important;
    }
    .tagline2 { 
        font-size: 14px;
    }    
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .img-holder {
        padding-bottom: 100%;
    }
}

.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{

    margin-top:-63px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    color: rgb(240, 124, 148);

	position: absolute;
	opacity: 0;
	overflow: hidden;
	/* color: #888; */
	-webkit-transform-origin: 10% 75%;
	-moz-transform-origin: 10% 75%;
	-ms-transform-origin: 10% 75%;
	-o-transform-origin: 10% 75%;
	transform-origin: 10% 75%;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-moz-animation: rotateWord 18s linear infinite 0s;
	-o-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-moz-animation-delay: 3s; 
	-o-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	/* color: #6b889d; */
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-moz-animation-delay: 6s; 
	-o-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	/* color: #99dd00;	 */
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s;
	-moz-animation-delay: 9s; 
	-o-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	/* color: #cc0000; */
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-moz-animation-delay: 12s; 
	-o-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	/* color: #8d6b9d; */
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s;
	-moz-animation-delay: 15s; 
	-o-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	/* color: #ee00cc; */
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.col-lg-12 { 
    padding-left: 0;
    padding-right: 0;
}

.row { 
    margin-right: 0;
    margin-left: 0;
}

/* FEATURES
----------------------*/

.gradient-fill:before {
    color: rgb(240, 124, 148);
    background: rgb(252, 88, 143);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

.card.features.border {
    border: 0.5px solid  rgb(240, 124, 148) !important; 
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: rgb(240, 124, 148);
    background: rgb(240, 124, 148);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: rgb(240, 124, 148);
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-color: rgb(240, 124, 148);
    color: #fff;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}

/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    font-size: 19px;
    background-color: rgb(235, 235, 235);
    margin-left: 1px;
    margin-right: 1px;

}

.nav-tabs .nav-link.active {
    background: #FFF; 
    border-top-width: 3px;
    border-color: rgb(240, 124, 148) #faf6fb #FFF;
    color: rgb(240, 124, 148);
}

.dropdown-item:hover { 
    color: rgb(240, 124, 148);
}

/*  TESTIMONIALS
----------------------*/

.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.blockquote {
    color: #7a767a;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e7d9eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(240, 124, 148);
}

.owl-theme .owl-dots .owl-dot.active span {
    background: rgb(240, 124, 148);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}

/* Three columns side by side */
.column {
    content: center;
    width: 18.5%;
    margin-bottom: 16px;
    padding: 0 20px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: inline-block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 8px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

/*  FOOTER
----------------------*/

.footer-col { 
    text-align: left; 
}
@media (max-width:991px) {
    .footer-col { 
        text-align: center; 
    }
}

.social-icons {
    text-align: left;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-right: 0.6em;
    border-radius: 5px;
    color: rgb(240, 124, 148);
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: rgb(240, 124, 148);
}

.social-icons {
    text-align: left;
}

.social-icons-dark a {
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-right: 0.6em;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: white;
    color: rgb(240, 124, 148);
    border-color: rgb(240, 124, 148);
    border-width: 2px;
    border-style: solid;
}

.social-icons-dark a:hover {
    text-decoration: none;
    background-color: rgb(240, 124, 148);
    color: white;
    border-color: rgb(240, 124, 148);
}

@media (max-width:991px) {
    .social-icons-dark {
        text-align: center;
        margin-top: 2rem;
    }
}

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  /* .mySlides {
    display: none;
  }
   */
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  } */
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  